RewriteEngine on


RewriteRule ^(index|contact|registration|search)$ $1.php [NC,L]

RewriteRule ^index/(\d+)$ index.php?page=$1 [NC,L]

RewriteRule ^includes/(login|logout)$ includes/$1.php [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1 [NC,L]

RewriteRule ^category/(\d+)$ category.php?category=$1 [NC,L]

RewriteRule ^author_post/(.+)$ author_post.php?author=$1 [NC,L]



RewriteRule ^admin/(index|categories|posts|comments|users|profile)$ admin/$1.php [NC,L]


RewriteRule ^admin/categories/edit/(\d+)$ admin/categories.php?edit=$1 [NC,L]

RewriteRule ^admin/comments/post/(\d+)$ admin/comments.php?p_id=$1 [NC,L]

RewriteRule ^admin/posts/(add_post)$  admin/posts.php?source=$1 [NC,L]
RewriteRule ^admin/posts/edit_post/(\d+)$ admin/posts.php?source=edit_post&edit=$1 [NC,L]
RewriteRule ^admin/posts/(category|author)/(.+)$  admin/posts.php?$1=$2 [NC,L]

RewriteRule ^admin/profile/(edit_profile)$ admin/profile.php?source=$1 [NC,L]

RewriteRule ^admin/users/(add_user)$ admin/users.php?source=$1 [NC,L]
RewriteRule ^admin/users/edit_user/(\d+)$ admin/users.php?source=edit_user&edit=$1 [NC,L]